<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://www.gstatic.com/firebasejs/9.3.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.3.0/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.3.0/firebase-database-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
    <!-- Add FirebaseUI CSS -->
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />
    <link type="text/css" rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div id="login-box"> 
        <h1>Welcome to Padha-e!</h1>
        <div id="firebaseui-auth-container"></div>
        <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
        <df-messenger
          intent="WELCOME"
          chat-title="padha-e"
          agent-id="e45fd370-9f0e-4510-97ba-570509a629e6"
          language-code="en"
        ></df-messenger>
        <style>
            df-messenger {
             --df-messenger-bot-message: #829dff;
             --df-messenger-button-titlebar-color: #ea74f9;
             --df-messenger-chat-background-color: #fafafa;
             --df-messenger-font-color: white;
             --df-messenger-send-icon: #878fac;
             --df-messenger-user-message: #deb7fc;
            }
          </style>
    </div>
    <div id="loader">Loading...</div>
    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyBD6ZsOT1P4lPZbQ0HVYHZrPGvaPk274ds",
            authDomain: "sih-e-f67f9.firebaseapp.com",
            databaseURL: "https://sih-e-f67f9-default-rtdb.asia-southeast1.firebasedatabase.app/",
            projectId: "sih-e-f67f9",
            storageBucket: "sih-e-f67f9.appspot.com",
            messagingSenderId: "113038032158",
            appId: "1:113038032158:web:6b01cde8843a62e8841d0f",
            measurementId: "G-FWVHBTC79W"
        };

        const app = firebase.initializeApp(firebaseConfig);
        const auth = app.auth();
        const database = app.database();

        // FirebaseUI Configuration
        var uiConfig = {

            signInOptions: [
                // Use GoogleAuthProvider for Google sign-in
                firebase.auth.GoogleAuthProvider.PROVIDER_ID,
                // Use Email/Password authentication
                {
                    provider: firebase.auth.EmailAuthProvider.PROVIDER_ID,
                    requireDisplayName: false
                },

            ],
            callbacks: {
                signInSuccessWithAuthResult: function (authResult, redirectUrl) {
                    // Handle sign-in success here and return false to prevent automatic redirection
                    var user = authResult.user;
                    var userUid = user.uid;

                    // Check if the user's data exists in the database
                    database.ref('users/' + userUid).once('value')
                        .then(function (snapshot) {
                            if (snapshot.exists()) {
                                var userData = snapshot.val();
                                if (userData && userData.youAre) {
                                    var youAre = userData.youAre;
                                    if (youAre === 'mentor') {
                                        // User is a mentor, redirect to mentor dashboard
                                        window.location.href = '/mentor/dashboard';
                                    } else if (youAre === 'student') {
                                        var clas = userData.class;
                                        if (clas == 'primary') {

                                            window.location.href = '/primary/dashboard';
                                        }
                                        else if (clas == 'secondary') {
                                            window.location.href = '/secondary/dashboard';
                                        }
                                        else {
                                            
                                            window.location.href = '/college/dashboard';
                                        }

                                    }
                                } else {
                                    console.log("key not found in user data, handle it accordingly");
                                }

                            } else {
                                // User data does not exist, redirect to user_input.html
                                window.location.href = 'user_input';
                            }
                        })
                        .catch(function (error) {
                            console.error("Error checking user data: ", error);
                        });
                    return false; // Prevent automatic redirection
                }
            }
        };

        // Initialize the FirebaseUI Widget
        var ui = new firebaseui.auth.AuthUI(auth);
        ui.disableAutoSignIn();
        document.getElementById('loader').style.display = 'none';

        ui.start('#firebaseui-auth-container', uiConfig);
    </script>
</body>

</html>