<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://www.gstatic.com/firebasejs/9.3.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.3.0/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.3.0/firebase-database-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
</head>

<body>
    <div id="mentor"></div>


    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyBD6ZsOT1P4lPZbQ0HVYHZrPGvaPk274ds",
            authDomain: "sih-e-f67f9.firebaseapp.com",
            databaseURL: "https://sih-e-f67f9-default-rtdb.asia-southeast1.firebasedatabase.app/",
            projectId: "sih-e-f67f9",
            storageBucket: "sih-e-f67f9.appspot.com",
            messagingSenderId: "113038032158",
            appId: "1:113038032158:web:6b01cde8843a62e8841d0f",
            measurementId: "G-FWVHBTC79W"
        };

        const app = firebase.initializeApp(firebaseConfig);
        const auth = app.auth();
        const database = app.database();


        // Check if a user is authenticated
        auth.onAuthStateChanged((user) => {
            if (user) {
                const userId = user.uid;
                const userRef = database.ref('users/' + userId);

                userRef.on('value', (snapshot) => {
                    if (snapshot.exists()) {
                        const userData = snapshot.val();
                        let mentorid = userData.mentor;
                        console.log(mentorid);

                        const mentorRef = database.ref('users/' + mentorid);
                        mentorRef.on('value', (mentorSnapshot) => {
                            if (mentorSnapshot.exists()) {
                                const mentorData = mentorSnapshot.val();
                                let mentorName = mentorData.name;
                                let mentorPhone = mentorData.phoneNumber;
                                // Display mentor details
                                document.getElementById("mentor").innerHTML = `
                      Mentor Name: ${mentorName}<br>
                      Mentor Phone: ${mentorPhone}`;
                            }
                        });
                    }
                });
            } else {
                document.getElementById("mentor").innerHTML = "User not found";
            }
        });
    </script>

</body>
</html>